package views

import "github.com/Francesco99975/trapk/internal/models"
import "github.com/Francesco99975/trapk/views/layouts"

templ Index(site models.Site) {
	@layouts.CoreHTML(site) {
		<main class="flex flex-col w-full justify-center items-center min-h-[100vh]">
			<h1 class="text-2xl text-primary font-bold my-2">Why are you here?</h1>
		</main>
	}
}
